<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.testol.dao.ClassesMapper">

    <resultMap id="ClassesUser" type="user_classes">
        <result property="u_id" column="u_id"/>
        <result property="c_id" column="c_id"/>
        <result property="status" column="status"/>
        <result property="enter_date" column="enter_date"/>
        <association property="user" javaType="User">
            <id property="u_id" column="u_id"/>
            <result property="name" column="u_name"/>
            <result property="sex" column="sex"/>
            <result property="phone" column="phone"/>
            <result property="email" column="email"/>
            <result property="work" column="work"/>
        </association>
        <association property="classes" javaType="Classes">
            <id property="c_id" column="c_id"/>
            <result property="name" column="c_name"/>
            <result property="create_date" column="create_date"/>
            <result property="introduction" column="introduction"/>
            <result property="people_num" column="people_num"/>
            <result property="joinWay" column="joinWay"/>
            <result property="creator_id" column="creator_id"/>
            <result property="creatorName" column="cu_name"/>
        </association>
    </resultMap>

<!--    <select id="queryClassesByU_id" resultType="Classes">-->
<!--        select c.*,u_c.status,u_c.enter_date,u.name creator_name-->
<!--        from  classes c,user_classes u_c,users u-->
<!--        where u_c.c_id=c.c_id and u_c.u_id=#{u_id} and c.creator_id=u.u_id-->
<!--    </select>-->
    <select id="queryClassesByU_id" resultMap="ClassesUser">
        select c.*,u_c.*,u.*,cu.u_name as cu_name
        from  user_classes u_c
            join users u on u_c.u_id=u.u_id
			join classes c on u_c.c_id=c.c_id
			join users cu on c.creator_id=cu.u_id
        where  u_c.u_id=#{u_id}
        order by u_c.enter_date desc
    </select>


    <select id="queryClassesByC_id" resultMap="ClassesUser">
--         select c.*,u.name creator_name
        select c.* ,u.*
        from  classes c,users u
        where c.creator_id=u.u_id and c.c_id=#{c_id}
    </select>


    <insert id="createClasses" parameterType="Classes" useGeneratedKeys="true" keyProperty="c_id">
        insert into classes(c_id, c_name ,create_date ,introduction ,creator_id ,people_num ,joinWay)
            value(#{c_id},#{name} ,#{create_date} ,#{introduction} ,#{creator_id} ,#{people_num} ,#{joinWay})
    </insert>
</mapper>
