<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.testol.dao.TopicMapper">
    <select id="getTopicByt_id" resultMap="Topic1">
        select * from topic where t_id=#{t_id}
    </select>

    <insert id="createTopic" parameterType="Topic" useGeneratedKeys="true" keyProperty="t_id">
        insert into topic(t_id,creator_id,subject_id,question,choice,photo,topic_type,correct_answer,t_score,difficulty,analysis)
            value(#{t_id},#{u_id},#{subject_id},#{question},#{choice},#{photo},#{topic_type},#{correct_answer},#{score},#{difficulty},#{analysis})
    </insert>

    <resultMap id="Topic1" type="Topic">
        <result property="t_id" column="t_id"/>
        <result property="u_id" column="creator_id"/>
        <result property="subject_id" column="subject_id"/>
        <result property="question" column="question"/>
        <result property="choice" column="choice"/>
        <result property="photo" column="photo"/>
        <result property="topic_type" column="topic_type"/>
        <result property="correct_answer" column="correct_answer"/>
        <result property="score" column="t_score"/>
        <result property="difficulty" column="difficulty"/>
        <result property="analysis" column="analysis"/>
    </resultMap>
</mapper>
