<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.testol.dao.User_ClassesMapper">
<!--    <insert id="addRecord" useGeneratedKeys="true" keyProperty="u_id">-->
<!--        inset into user_classes(u_id,c_id,status,enter_date)-->
<!--        values(#{u_id},#{c_id},#{status},#{date})-->
<!--    </insert>-->
</mapper>